ul {
    margin: 0;
    padding: 0;
    width: 149  px;
    background-color: #f1f1f1;
    list-style-type: none;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
}
li a:hover {
	background-color: #000067;
	color: white;
	text-decoration: none;
}
a {
	text-decoration: none;
}
.line {
    border-top: 1px solid #7e7e7e;
    width: 150px;
    padding: 4px;

}
#logo {
    margin-bottom: 3px;
    padding-bottom: 7px;
    height: 65px; 
    padding-left: 3px;
    padding-top: 3px;
    width: 112px;
}
#navleft {
    border-right: 1px solid #7e7e7e;
    width: 150px;
    height: 100vh;
    float: left;
}
.menu {
    padding: 8px 16px;
    text-decoration: none;
    color: black;
}
#contentright {
    margin-left: 10px;
    float: ;
}
.icon {
    max-width: 24px;
    margin-bottom: 4px;
    margin-right: 5px;

}
.grayscale {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}
}